In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [18]:
df=pd.read_csv("spam .csv",encoding='ISO-8859-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [19]:
df=df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [21]:
df.columns=['labels','data']

In [22]:
df['b_labels'] =df['labels'].map({'ham':0,'spam':1})
Y=df['b_labels'].values
df

     labels                                               data  b_labels
0       ham  Go until jurong point, crazy.. Available only ...         0
1       ham                      Ok lar... Joking wif u oni...         0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...         1
3       ham  U dun say so early hor... U c already then say...         0
4       ham  Nah I don't think he goes to usf, he lives aro...         0
...     ...                                                ...       ...
5567   spam  This is the 2nd time we have tried 2 contact u...         1
5568    ham              Will Ì_ b going to esplanade fr home?         0
5569    ham  Pity, * was in mood for that. So...any other s...         0
5570    ham  The guy did some bitching but I acted like i'd...         0
5571    ham                         Rofl. Its true to its name         0

[5572 rows x 3 columns]

In [ ]:
from sklearn.model_selection import train_test_split
df_train,df_test,Ytrain,Ytest=train_test_split(df['data'],Y,test_size=0.33)

In [24]:
df_train.shape

(3733,)

In [25]:
tfidf=TfidfVectorizer(decode_error='ignore')
Xtrain=tfidf.fit_transform(df_train)
Xtest=tfidf.transform(df_test)

In [ ]:
model=MultinomialNB()
model.fit(Xtrain,Ytrain)
print("train score",model.score(Xtrain,Ytrain))
print("test score",model.score(Xtest,Ytest))

train score 0.9686579158853469
train score 0.9597607395323545